#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    height:50px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:550px;
    width:200px;
    float:left;
    padding:5px;	      
}
#container {
    width:500px;
    float:left;
    padding:10px;
    height:400px;	
}
#menu{
    line-height:30px;
    background-color:#eeeeee;
    height:550px;
    width:200px;
    float:right;
    padding:5px;	      
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    height:50px;	 	 
}
